<div class="row">

	<div class="col-md-4">
		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
			<input type="search" name="txtSearch" id="txtSearch" placeholder="Search Tables" ng-model="search" class="form-control">
			<span class="input-group-btn">
				<button ng-click="clearSearch()" class="btn btn-warning" type="button"><span class="glyphicon glyphicon-remove"></span></button>
			</span>
		</div>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="table in tables | filter:search track by $index ">				
				<a ng-click="getColumns(table.name)">
					<span class="glyphicon glyphicon-list-alt"></span>
					{{ table.name }}
				</a>

				<a href="#/data/{{ table.name }}" class="btn">Preview Data</a>
			</li>
		</ul>
	</div>

	<div class="col-md-8" id="view-container">
		<div id="column-view">

			<h2 ng-show="currentTableName">{{ columns.length }} Columns From : {{ currentTableName }}</h2>

			<form class="form-horizontal" ng-submit="seedRows($event)">
				<div class="form-group">
					<label class="col-md-4 control-label" for="select">Number of Rows To Seed (Insert) : </label>
					<div class="col-md-4">
						<select class="form-control" id="select" name="select" ng-model="currentSeedRows">
							<option ng-repeat="seed in seeds">{{ seed }}</option>
						</select>
					</div>
					<div class="col-md-4">
						<input type="hidden" name="table" id="table" value="{{ currentTableName }}">
						<button class="btn btn-primary" type="submit">Seed Data</button>
					</div>
				</div>
			</form>

			<ul class="list-group">
				<li class="list-group-item" ng-repeat="column in columns track by $index ">
					
					<div class="row">
						<div class="col-md-6">
							<input type="checkbox" name="chk{{ column.name }}">
							{{ column.name }}
						</div>
						<div class="col-md-6">{{ column.type_name }}</div>					
					</div>
						
				</li>
			</ul>


		</div>

		
	</div>
		

</div>	