<div class="row">

	<div class="col-md-12">
		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
			<input type="search" name="txtSearch" id="txtSearch" placeholder="Search Types" ng-model="search" class="form-control">
		</div>

		<ul class="list-group">
			<li class="list-group-item" ng-repeat="type in types | filter:search track by $index">
				<a href="/columns/{{ type.name }}">
					<span class="glyphicon glyphicon-th-large"></span>
					{{ type.name }}
				</a>	
			</li>
		</ul>

	</div>

</div>